@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

/* style.css */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 900px;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #f0f0f0;
  background-image: url("your_background_image.jpg");
  background-size: auto 120%;
  background-position: center;
  background-repeat: no-repeat;
}

.sections {
  position: relative;
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 100%;
  transition: transform 0.5s ease, left 0s 0.5s;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section.active {
  left: 0;
  transform: translateX(0);
  transition: transform 0.5s ease, left 0s;
}

section img {
  max-width: 500px;
  height: 500px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

section h2 {
  margin: 0 0 20px 0;
}

section p {
  text-align: justify;
  text-align-last: center;
  max-width: 600px;
}

section div {
  display: flex;
  gap: 10px;
}

section button {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px 20px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

section button:hover {
  background-color: #4caf50;
}

/* Back button */
.back {
  display: block;
  text-align: center;
  margin-top: 80px;
}

#backButton {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #4caf50;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#backButton:hover {
  background-color: #555;
}

footer {
  background-color: #4caf50;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
}
